.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background: rgba(237, 28, 36, 0.8);

    &__logo {
        margin: 0;
        display: block;
        font-size: 0;
    }

    &__container {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        &-item {
            margin-right: 42px;
            position: relative;

            &:last-child {
                margin-right: 30px;
            }
        }

        &-link {
            text-decoration: none;
            color: #fff;
            .calc-font(15);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}