.section__1 {
    background: transparent url(../images/bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 140px 0 63px;

    &_container {
        display: flex;
        justify-content: space-between;
    }

    &_description {
        width: 485px;

        p {
            .calc-font(30);
            line-height: 1.33;
            color: #f2f2f2;
            margin: 27px 0 67px;
        }
    }

    &_tools {
        display: flex;
        justify-content: space-between;

        &-icon {
            margin-left: 13px;
            vertical-align: middle;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &_whitepaper {

        &-link {
            padding: 6px 0 0 60px;
            position: relative;
            text-decoration: none;
            display: block;

            .icon-pdf {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &-title {
            .calc-font(20);
            color: #f2f2f2;
            margin-bottom: 6px;
        }

        &-size {
            .calc-font(16);
            font-weight: 300;
            color: #b3b3b3;
        }
    }

    &_counter {
        width: 564px;
        background-color: rgba(0, 0, 0, 0.3);

        &-label {
            .calc-font(30);
            text-align: center;
            color: #ffffff;
            padding: 25px 0 18px;
        }

        &-numbers {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 28px;
            justify-content: space-between;
        }

        &-item {
            text-align: center;
            color: #ffffff;
            font-weight: bold;
            width: 25%;
        }

        &-num {
            .calc-font(68);
            margin-bottom: 10px;
            min-height: 82px;

            &-label {
                .calc-font(18);
                text-transform: uppercase;
            }
        }

        &-form {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 32px 27px 45px;
        }

        &-input {
            margin-bottom: 17px;
        }
    }
}
