.section__9 {
    background-color: #c21b1c;

    &_container {
        padding: 57px 0;
    }

    &_form {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &_input {
        width: 499px;
        border: 0;
        background-color: rgba(255, 255, 255, 0.2);

        &::-webkit-input-placeholder {color:#ffffff;}
        &::-moz-placeholder          {color:#ffffff;}
        &:-moz-placeholder           {color:#ffffff;}
        &:-ms-input-placeholder      {color:#ffffff;}
    }

    &_button {
        width: 248px;
        border: 2px solid #ffffff;
        white-space: nowrap;
    }
}