
@icon-arrow_down: 716px 309px -716px -309px 14px 8px 772px 694px url('../images/sprite.png');
@icon-graph_1: 514px 155px -514px -155px 155px 155px 772px 694px url('../images/sprite.png');
@icon-graph_2: 514px 0px -514px 0px 155px 155px 772px 694px url('../images/sprite.png');
@icon-icon1: 514px 310px -514px -310px 103px 103px 772px 694px url('../images/sprite.png');
@icon-icon2: 514px 413px -514px -413px 103px 103px 772px 694px url('../images/sprite.png');
@icon-icon3: 514px 516px -514px -516px 103px 103px 772px 694px url('../images/sprite.png');
@icon-icon4: 669px 0px -669px 0px 103px 103px 772px 694px url('../images/sprite.png');
@icon-icon5: 669px 103px -669px -103px 103px 103px 772px 694px url('../images/sprite.png');
@icon-icon7: 669px 206px -669px -206px 103px 103px 772px 694px url('../images/sprite.png');
@icon-logo: 0px 666px 0px -666px 159px 28px 772px 694px url('../images/sprite.png');
@icon-pdf: 669px 309px -669px -309px 47px 54px 772px 694px url('../images/sprite.png');
@icon-phones: 0px 0px 0px 0px 514px 666px 772px 694px url('../images/sprite.png');
