
@icon-arrow_down: 983px 876px -983px -876px 14px 8px 1918px 1542px url('../images/sprite.png');
@icon-bg: 0px 0px 0px 0px 1918px 876px 1918px 1542px url('../images/sprite.png');
@icon-graph_1: 514px 876px -514px -876px 155px 155px 1918px 1542px url('../images/sprite.png');
@icon-graph_2: 669px 876px -669px -876px 155px 155px 1918px 1542px url('../images/sprite.png');
@icon-logo: 824px 876px -824px -876px 159px 28px 1918px 1542px url('../images/sprite.png');
@icon-phones: 0px 876px 0px -876px 514px 666px 1918px 1542px url('../images/sprite.png');
