
@icon-arrow_down: 772px 364px -772px -364px 14px 8px 824px 752px url('../images/sprite.png');
@icon-facebook: 309px 677px -309px -677px 62px 62px 824px 752px url('../images/sprite.png');
@icon-graph_1: 669px 0px -669px 0px 155px 155px 824px 752px url('../images/sprite.png');
@icon-graph_2: 669px 155px -669px -155px 155px 155px 824px 752px url('../images/sprite.png');
@icon-icon1: 669px 413px -669px -413px 103px 103px 824px 752px url('../images/sprite.png');
@icon-icon2: 669px 516px -669px -516px 103px 103px 824px 752px url('../images/sprite.png');
@icon-icon3: 669px 310px -669px -310px 103px 103px 824px 752px url('../images/sprite.png');
@icon-icon4: 103px 649px -103px -649px 103px 103px 824px 752px url('../images/sprite.png');
@icon-icon5: 206px 649px -206px -649px 103px 103px 824px 752px url('../images/sprite.png');
@icon-icon7: 0px 649px 0px -649px 103px 103px 824px 752px url('../images/sprite.png');
@icon-logo: 309px 649px -309px -649px 159px 28px 824px 752px url('../images/sprite.png');
@icon-pdf: 772px 310px -772px -310px 47px 54px 824px 752px url('../images/sprite.png');
@icon-phones: 0px 0px 0px 0px 669px 649px 824px 752px url('../images/sprite.png');
