extends ../layouts/default

block title
  title Happy Hour

block content
    include ../includes/section1.jade
    include ../includes/section2.jade
    include ../includes/section3.jade
    include ../includes/section9.jade