extends ../layouts/default

block title
  title Happy Hour

block content
    include ../includes/section1.jade
    include ../includes/section2.jade
    include ../includes/section3.jade
    include ../includes/section5.jade
    include ../includes/section6.jade
    include ../includes/section7.jade
    include ../includes/section8.jade
    include ../includes/section9.jade
    include ../includes/section10.jade
    include ../includes/section11.jade