header.header
    .layout-main.header__container
        h1.header__logo
            | Happy Hour
            i.icon.icon-logo

        ul.header__menu
            li.header__menu-item
                a.header__menu-link(href="index.html#about") About
            li.header__menu-item
                a.header__menu-link(href="index.html#service_differentiation") Service differentiation
            li.header__menu-item
                a.header__menu-link(href="index.html#token_sale") Token sale
            li.header__menu-item
                a.header__menu-link(href="index.html#whitelist") Whitelist
            li.header__menu-item
                a.header__menu-link(href="index.html#roadmap") Roadmap
            li.header__menu-item
                a.header__menu-link(href="index.html#team") Team
            li.header__menu-item
                a.header__menu-link(href="index.html#contacts") Contacts
            li.header__menu-item
                a.header__menu-link(href="faq.html") FAQ
