header.header
    .layout-main.header__container
        h1.header__logo
            | Happy Hour
            i.icon.icon-logo

        ul.header__menu
            li.header__menu-item
                a.header__menu-link(href="#about") About
            li.header__menu-item
                a.header__menu-link(href="#service_differentiation") Service differentiation
            li.header__menu-item
                a.header__menu-link(href="#token_sale") Token sale
            li.header__menu-item
                a.header__menu-link(href="#whitelist") Whitelist
            li.header__menu-item
                a.header__menu-link(href="#roadmap") Roadmap
            li.header__menu-item
                a.header__menu-link(href="#team") Team
            li.header__menu-item
                a.header__menu-link(href="#contacts") Contacts
            li.header__menu-item.active
                a.header__menu-link.header__menu-link--language(href="#")
                    span.header__menu-language EN
                    i.icon.icon-arrow_down.header__menu-arrow_down
                ul.header__menu-dropdown
                    li.header__menu-dropdown-item
                        a.header__menu-dropdown-link(href="#") RU
                    li.header__menu-dropdown-item
                        a.header__menu-dropdown-link(href="#") DE
                    li.header__menu-dropdown-item
                        a.header__menu-dropdown-link(href="#") CN