.section__9
    .layout-main
        .section__9_container
            form.section__9_form.js-email-form(action="/")
                label(for="input__9").b-label.section__9_label Be the first to know when we launch:
                input.b-input.section__9_input#input__9(type="text", name="email", placeholder="Your E-mail")
                button.b-button.section__9_button(type="submit") Sign Up to Register
            .form-message