.section__3
    .layout-main
        .section__3_container
            h2.page-header Service differentiation

            .section__3_row.section__3_row-3
                .section__3_figure
                    .icon.icon-icon7
                    .section__3_figure-label Covering all basic needs, not only food.

                .section__3_figure
                    .icon.icon-icon1
                    .section__3_figure-label Combining sexual partner with the delivery task, so the user gets everything on time.

                .section__3_figure
                    .icon.icon-icon2
                    .section__3_figure-label Combining groceries with restaurants order.

            .section__3_row.section__3_row-4
                .section__3_figure
                    .icon.icon-icon3
                    .section__3_figure-label Simplicity
                    .section__3_figure-description You order is 3 clicks away (login – usual order – give me the same as last weekend). You always see the delivery time.

                .section__3_figure
                    .icon.icon-icon4
                    .section__3_figure-label Usability
                    .section__3_figure-description Large buttons, simple choices.

                .section__3_figure
                    .icon.icon-icon5
                    .section__3_figure-label New technology
                    .section__3_figure-description bitcoin & other cryptocurrencies accepted; chatbot for making orders and for Q&A.

                .section__3_figure
                    .icon.icon-icon6
                    .section__3_figure-label Focus on tourists
                    .section__3_figure-description languages, European style interfaces, safety info, recommendations.