.section__4
    .layout-main
        .section__4_container
            h2.page-header.section__4_header Token sale

            .section__4_information
                .section__4_description
                    table.section__4_description-table
                        tr
                            td.section__4_description-title Target on crowdsale:
                            td.section__4_description-value $15 000 000
                        tr
                            td.section__4_description-title Minimum on crowdsale*:
                            td.section__4_description-value $3 000 000
                        tr
                            td.section__4_description-title Total token supply:
                            td.section__4_description-value 200 000 000 HappyShare
                        tr
                            td.section__4_description-title ENG Token type:
                            td.section__4_description-value ERC20
                        tr
                            td.section__4_description-title Purchase methods accepted:
                            td.section__4_description-value BTC, ETH and fiat

                    p.section__4_description-p *lCO is considered successful if more than $3M collected, otherwise all funds are transferred to lCO participants

                .section__4_goals
                    .section__4_goals-item
                        .section__4_goals-graph
                            i.icon.icon-graph1
                            .section__4_goals-value-wrapper
                                .section__4_goals-value
                                    span.section__4_goals-percents 20
                                    | %
                                    .section__4_goals-text tokens
                        .section__4_goals-description Sold on Token Sale

                    .section__4_goals-item
                        .section__4_goals-graph
                            i.icon.icon-graph2
                            .section__4_goals-value-wrapper
                                .section__4_goals-value
                                    span.section__4_goals-percents 80
                                    | %
                                    .section__4_goals-text discount
                        .section__4_goals-description In the first round of ICO
