.section__2
    .section-anchor#about
    .layout-main
        .section__2_container
            .section__2_description
                h2 About happy hour
                p We are the service focusing on the needs of the tourists’ army around the world. We are addressing all the major needs of an alien in a foreign country, and nobody has done it to such a full extent before.
                p We offer our users a freedom of choice and a special user experience when they travel to new places and want to order food, groceries, alcohol, or look for a sexual partner.
                p We are a one-stop-shop offering both traditional menus and exotic dishes for those in the mood to experiment; we operate as your online marketplace for food, drinks, and grocery products, as well as the interface for local restaurants and stores offering fast delivery services.
                p If a customer needs more, our special app will help him or her to find a date around to share a one-night stand with.
                p With the blockchain and smart contract technology, we ensure security, reliability, and confidentiality when it comes to information and payments. A new decentralized currency allows us to dismiss the problem of currency exchange and payments and to turn all the local small businesses into our allies.

            .section__2_aside Our service has everything you need for an enjoyable  evening in a new country.
            i.icon.icon-phones.section__2_icon-phones