.section__12
    .section-anchor#roadmap
    .layout-main
        .section__12_container
            h2.page-header.section__12_header Roadmap

            .section__12_roadmap
                .section__12_roadmap-item
                    ul.section__12_roadmap-list
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description Start of the project
                            .section__12_roadmap-period (Q3 2017)
                        li.section__12_roadmap-list-item.section__12_roadmap-list-item-important
                            .section__12_roadmap-description Pre-ICO
                            .section__12_roadmap-period (Q4 2017)
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description Marketing research, <br />Development of smart contract scheme & MVP
                            .section__12_roadmap-period (Q4 2017 — Q1 2018)

                    .section__12_roadmap-year 2017

                .section__12_roadmap-item
                    ul.section__12_roadmap-list
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description ICO pre-launch
                            .section__12_roadmap-period (Q1 2018)
                        li.section__12_roadmap-list-item.section__12_roadmap-list-item-important
                            .section__12_roadmap-description ICO
                            .section__12_roadmap-period (Q1 2018)
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description Development of the product <br /> & marketing campaign
                            .section__12_roadmap-period (Q1-Q2 2018)
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description Release of the beta version <br /> and launch in Thailand
                            .section__12_roadmap-period (Q3 2018)
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description launch in Australia and New Zealand
                            .section__12_roadmap-period (Q4 2018)

                    .section__12_roadmap-year 2018

                .section__12_roadmap-item
                    ul.section__12_roadmap-list
                        li.section__12_roadmap-list-item
                            .section__12_roadmap-description market enter in another countries
                            .section__12_roadmap-period (Q1 2019 — 2022)

                    .section__12_roadmap-year 2019—2022