.section__10
    .layout-main
        .section__10_container
            h2.page-header Team & advisors

            .section__10_row.section__10_row-2
                .section__10_person
                    img.section__10_person-photo(src="images/member_1.jpg", alt="")
                    .section__10_person-title Viktor Volkov,
                        span.section__10_person-title-info  CEO, Australia
                    p Scientist, technology and software expert in the area of metal-based conductive composites and nanostructure research. 60 y.o.
                    p Viktor have solid experience in running complex technological projects from scratch. His main area is the investor relations.


                .section__10_person
                    img.section__10_person-photo(src="images/member_2.jpg", alt="")
                    .section__10_person-title Ian Stolyar,
                        span.section__10_person-title-info  Managing Director, Israel
                    p Telecom, IT, project management expert. Works as an international business development manager for cloud services and telecom providers. CEO, CCO, CMO experience, MBA in management. 42 y.o.
                    p Ian has united knowledge from both telco and modern IT, plus financial and business structure experience, with up to 19 legal entities in one business. He is able to address any issue one could imagine.
                    a(href="https://www.linkedin.com/in/yanstolyar/", target="_blank")
                        i.icon.icon-linkedin


            .section__10_row.section__10_row-last.section__10_row-2
                .section__10_person
                    img.section__10_person-photo(src="images/member_3.jpg", alt="")
                    .section__10_person-title Anna Kirillova,
                        span.section__10_person-title-info  Marketing Director, Russia
                    p PhD in Economic Sciences; marketing, PR and logistics expert. Works as a marketing and PR advisor for logistics, IT, and startup companies. CCO, Deputy General Director and PR experience. 30 y.o.
                    p Anna knows logistics, classical marketing and modern online customer acquisition duties. She is the person who might create and implement promo strategy of the business.
                    a(href="https://www.linkedin.com/in/akirillova/", target="_blank")
                        i.icon.icon-linkedin

                .section__10_person
                    img.section__10_person-photo(src="images/member_4.jpg", alt="")
                    .section__10_person-title Viktor Barinov,
                        span.section__10_person-title-info CTO, Finland
                    p Business developer, product manager. Excellent telecommunication, leadership, communication skills. Network and software management. BDM, PM experience. 42 y.o.
                    p Viktor knows any obstacle and problem which might arise in an IT project. His problem-solving skills when it comes to technology or team are perfect.
                    a(href="https://www.linkedin.com/in/victorbarinov/", target="_blank")
                        i.icon.icon-linkedin

            h3.page-header.page-header_3 Advisory team

            .section__10_row.section__10_row-2
                .section__10_person
                    img.section__10_person-photo(src="images/member_5.jpg", alt="")
                    .section__10_person-title Barry Dawes,
                        span.section__10_person-title-info  Financial broker, Australia
                    p Barry has had over 30 years investment market experience in the resources and commodities sectors in Australia and internationally. He has worked in Investment Research, Equity Capital Markets, Managed Funds, and Corporate Advisory Business Services with Small Cap Listed companies mostly in the Resources Sector, and sponsored over 30 IPOs.


                .section__10_person
                    img.section__10_person-photo(src="images/member_6.jpg", alt="")
                    .section__10_person-title Nipon Sapsombat,
                        span.section__10_person-title-info  Community manager, Thailand
                    p Nipon was working in real estate, high expertise in delivery issues and restaurants and night clubs business.
                    p He is a project manager on the business development and community management in Thailand.


            .section__10_row.section__10_row-2
                .section__10_person
                    img.section__10_person-photo(src="images/member_7.jpg", alt="")
                    .section__10_person-title Andrey Lyashin,
                        span.section__10_person-title-info  Scientific advisor, Russia
                    p MS in math. physics, 10+ years in applied physics and modeling science, 5+ years as applied mathematician in cybernetics, 5+ in investment consulting, for the last 5 years – startup founder in IT and hi-tech consulting. Actively participates in crypto-currency community, cofounder of the consensusresearch.org venture, author of the series of publications on consensus algorithms in blockchain systems.
                    p Andrey bears general responsibility for crypto algorithms, token emission, and the corresponding part of the development.
                    a(href="https://www.linkedin.com/in/andrey-lyashin-72140443/", target="_blank")
                        i.icon.icon-linkedin

                .section__10_person
                    img.section__10_person-photo(src="images/member_8.jpg", alt="")
                    .section__10_person-title Sergey Egorov,
                        span.section__10_person-title-info  Project manager, Russia.
                    p MS in computer science, 20+ years in software industry, 10+ years in software management, for the last 5 years - startup founder in IT and hi-tech consulting, experienced CEO.
                    p Sergey holds responsibility for the crypto part as the PM.
                    a(href="https://www.linkedin.com/in/sergey-egorov-4057b21/", target="_blank")
                        i.icon.icon-linkedin

            .section__10_row.section__10_row-2
                .section__10_person
                    img.section__10_person-photo(src="images/member_9.jpg", alt="")
                    .section__10_person-title Sergey Kazenyuk,
                        span.section__10_person-title-info  Technical Leader and Architect, Russia.
                    p MS in computer science; experience: 7+ years in software development and design both in enterprise and research projects; 2+ years in blockchain/cryptocurrency technology development and research; Bitcoin, Monero project contributor; Programming language theory and certified programming researcher. Sergey holds responsibility for the crypto part as the Architect.
                    