.section__11
    .section-anchor#contacts
    .layout-main
        .section__11_container
            .section__11_row
                .section__11_column.section__11_column-1
                    h3.page-header.page-header_3.section__11_contacts-header
                        | Contacts

                    p.section__11_contacts-social.section__11_text
                        a(href="#", target="_blank").section__11_contacts-social-item
                            i.icon.icon-facebook
                        a(href="#", target="_blank").section__11_contacts-social-item
                            i.icon.icon-facebook
                        a(href="#", target="_blank").section__11_contacts-social-item
                            i.icon.icon-facebook

                .section__11_column.section__11_column-2
                    p.section__11_contacts-email.section__11_text
                        | info@abc.com

                .section__11_column.section__11_column-3
                    form.js-email-form(action="message.php")
                        label.section__11_label(for="input__11") Be the first to know when we launch:
                        input.b-input.section__1_counter-input#input__11(type="text", name="email", placeholder="Your E-mail")
                        button.b-button(type="submit") Sign Up to Register
                        .form-message

            .section__11_terms-of-use
                a(href="#").section__11_link
                    | Terms of use

            .section__11_copy.section__11_text
                | &copy; HappyHour 2017