.section__1
    .layout-main
        .section__1_container
            .section__1_description
                p A worldwide decentralized platform allowing for accessing most various tourist services, starting from food, alcohol, grocery and dating
                .section__1_tools
                    a(href="#").section__1_whitepaper-link
                        i.icon.icon-pdf
                        .section__1_whitepaper-title White paper
                        .section__1_whitepaper-size PDF, 256 Kb
                    div
                        i.icon.icon-facebook.section__1_tools-icon
                        i.section__1_tools-icon.section__1_tools-icon-placeholder
                        i.section__1_tools-icon.section__1_tools-icon-placeholder

            .section__1_counter
                .section__1_counter-label Tokens pre-sale starts in
                .section__1_counter-numbers
                    .section__1_counter-item
                        .section__1_counter-num 25
                        .section__1_counter-num-label Days
                    .section__1_counter-item
                        .section__1_counter-num 14
                        .section__1_counter-num-label Hours
                    .section__1_counter-item
                        .section__1_counter-num 37
                        .section__1_counter-num-label Minutes
                    .section__1_counter-item
                        .section__1_counter-num 16
                        .section__1_counter-num-label Seconds

                .section__1_counter-form
                    form
                        input.b-input.section__1_counter-input(type="email", placeholder="Your E-mail")
                        button.b-button(type="submit") Sign Up to Register