.section__7
    .section-anchor#whitelist
    .layout-main
        .section__7_container
            h2.page-header.section__7_header Happy hour whitelist

            .section__7_information-container
                .section__7_information-item.text-center
                    span.section__7_information-percents-value 5
                    span.section__7_information-percents %
                    span.section__7_information-tokens  tokens
                    .section__7_information-description Sold on Whitelist <br /> and pre-ICO price
                .section__7_information-item.text-center
                    .section__7_information-total-token Total token supply:
                    .section__7_information-total-token-value 50 000 000
                .section__7_information-item
                    .section__7_information-costs 1515 ETH ≈ $500K
                    .section__7_information-costs-description
                        | Ethereum price is taken at <br />
                        | 1 ЕТН = 330 USD  (06/09/2017)

            .section__7_description
                span.section__7_description-label Whitelist exchange rate is:
                |  1 ETH = 33 003 HappyShare, 1 HappyShare = 0.00003 ETH
