.section__6
    .layout-main
        .section__6_container
            h2.page-header Use of funds

            .section__6_scale
                .section__6_scale-item(style="width: 30%;")
                    .section__6_scale-part.section__6_scale-part-odd.section__6_scale-part-first
                        .section__6_scale-description 30% Software development

                .section__6_scale-item(style="width: 30%;")
                    .section__6_scale-part.section__6_scale-part-even
                        .section__6_scale-description 30% Personnel salary

                .section__6_scale-item(style="width: 35%;")
                    .section__6_scale-part.section__6_scale-part-odd
                        .section__6_scale-description 35% Marketing & PR

                .section__6_scale-item(style="width: 5%;")
                    .section__6_scale-part.section__6_scale-part-even.section__6_scale-part-last
                        .section__6_scale-description 5%&nbsp;Rewards
