.section__5
    .layout-main
        .section__5_container
            h2.page-header.section__5_header Token sale timeline
            .section__5_timeline
                .section__5_timeline-item
                    .section__5_timeline-description Token sale announcement
                    .section__5_timeline-separator
                    .section__5_timeline-date September 2017

                .section__5_timeline-item
                    .section__5_timeline-description Presale opens
                    .section__5_timeline-separator
                    .section__5_timeline-date October 2017

                .section__5_timeline-item
                    .section__5_timeline-description Main Sale Opens
                    .section__5_timeline-separator
                    .section__5_timeline-date December 2017

                .section__5_timeline-item
                    .section__5_timeline-description Main Sale Closes
                    .section__5_timeline-separator
                    .section__5_timeline-date January 2018

                .section__5_timeline-item
                    .section__5_timeline-description Token Distribution
                    .section__5_timeline-separator
                    .section__5_timeline-date February 2018