.section__8
    .layout-main
        .section__8_container
            p.section__8_description
                | Happy Hour Whitelist is a special form of pre-Token sale. During this stage, we will collect applications for our token presale. Participation in this program guarantees you a spot in the upcoming Token sale and reduction of the transaction costs at the first day of the token sale. Moreover, at this stage, it is possible to buy tokens for fiat money upon request.

            .section__8_information
                .section__8_information-title Token presale through Whitelist program will run before the ICO:
                p.section__8_information-description
                    | from ____ to _____.<br />
                    | The minimum purchase is _____
